<title><%= title %></title>

<div class="row" style="margin-right: 50px; margin-left: 50px;">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Listar Agenda</h3>
		</div>
		
		<a href="ordenes/create" class="btn btn-default" role="button" data-toggle="tooltip" title="Crear orden"><span class="glyphicon glyphicon-plus-sign"></span></a>
		
		<table class="table table-fixed table-hover">
			<thead>
				<tr>
					<th class="col-md-1">Num.</th>
					<th class="col-md-1">Carretera</th>
					<th class="col-md-1">PK ini.</th>
					<th class="col-md-1">PK fin</th>
					<th class="col-md-2">Fecha ini.</th>
					<th class="col-md-2">Fecha est. fin</th>
					<th class="col-md-4"></th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i < ordenes.length; i++) { %>
				<tr>
					<td class="col-md-1"><%= ordenes[i].num %></td>
					<td class="col-md-1"><%= ordenes[i].ctra %></td>
					<td class="col-md-1"><%= ordenes[i].pkini %></td>
					<td class="col-md-1"><%= ordenes[i].pkfin %></td>
					<td class="col-md-2"><%= ordenes[i].fechaini %></td>
					<td class="col-md-2"><%= ordenes[i].fechafin %></td>
					<td class="col-md-4">
						<a href="/ordenes/orden1" data-toggle="tooltip" title="Mostrar orden"><span class="glyphicon glyphicon-eye-open">&nbsp</span></a>
						<a href="#" data-toggle="tooltip" title="Actualizar orden"><span class="glyphicon glyphicon-pencil">&nbsp</span></a>
						<a href="#" data-toggle="tooltip" title="Eliminar orden"><span class="glyphicon glyphicon-trash">&nbsp</span></a>
						<a href="#" data-toggle="tooltip" title="Ver en mapa"><span class="glyphicon glyphicon-map-marker">&nbsp</span></a>
						<a href="#" data-toggle="tooltip" title="Cerrar orden"><span class="glyphicon glyphicon-saved">&nbsp</span></a>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
		 
	</div>
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li><a href="#" aria-label="Previous">Anterior</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#" aria-label="Next">Siguiente</a></li>
		</ul>
	</nav>
</div>

<!-- Footer -->
<div class="footer">
	<div class="container-fluid">
		<p class="text-center text-muted">© Alberto Henche Gómez - 2017</p>
	</div>
</div>