<title><%= title %></title>

<div class="row" style="margin-right: 50px; margin-left: 50px;">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Crear Orden de trabajo</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" action="/agenda" method="get" role="form">
				<div class="form-group row">
					<div class="col-md-6">
						<label for="name">Carretera:</label>
						<select class="form-control" placeholder='Select author' name="via" required="true">
							<% for(var i=0; i < vias.length; i++) { %>
								<option value=<%= vias[i].gid %>><%= vias[i].matricula + ",  " %><%= vias[i].denom %></option>
							<% }%>
						</select>
					</div>
					<div class="col-md-3">
						<label>PK Inicial:</label>
						<input class="form-control" id="ctra" name="name"/>
					</div>
					<div class="col-md-3">
						<label for="name">PK Final:</label>
						<input class="form-control" id="ctra" name="name"/>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-4">
						<label for="name">Fecha de inicio:</label>
						<div class='input-group date' id='datetimepicker1'>
							<input type='text' class="form-control" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						<!-- <input class="form-control" id="ctra" name="name"/> -->
					</div>
					<div class="col-md-4">
						<label>Fecha estimada de finalización:</label>
						<input class="form-control" id="ctra" name="name"/>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-3">
						<label for="name">Grupo:</label>
						<select class="form-control" placeholder='Select author' name="grupo" required="true">
							<% for(var i=0; i < grupos.length; i++) { %>
								<option value=<%= grupos[i].gid %>><%= grupos[i].nombre + ",  " %><%= grupos[i].descr %></option>
							<% }%>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<label for="review">Descripción:</label>
						<textarea class="form-control" id="review" name="review" rows="5"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<label for="review">Instrucciones:</label>
						<textarea class="form-control" id="review" name="review" rows="5"></textarea>
					</div>
				</div>
				
			</form>
			<div class="row">
				<div class="col-md-8">
					<a type="submit"  class="btn btn-primary btn-lg btn-block">Guardar</a>
				</div>
				<div class="col-md-4">
					<a href="/ordenes" class="btn btn-default btn-lg btn-block">Cancelar</a>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Footer -->
<div class="footer">
	<div class="container-fluid">
		<p class="text-center text-muted">© Alberto Henche Gómez - 2017</p>
	</div>
</div>